<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="ObjectResolver test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="Tests/app/" />
    </php>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./DependencyInjection</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-php" target="/tmp/coverage_phpunit.cov"/>
    </logging>

</phpunit>
